.main-container {
  height: calc(100vh - 9rem);
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 75rem;
  margin: auto;
}

.profile-image-container {
  height: auto;
  width: auto;
}

.profile-image img {
  border-radius: 50%;
}
.container-image {
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  background: url("../../app/assets/background/image001.jpg") no-repeat center
    center fixed;
  background-size: contain;
}

.background-container {
  width: 100%;
  height: auto;
  max-width: 50rem;
  color: transparent;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
  font-size: 2.5rem;
  align-content: flex-start;
  flex-direction: column;
  font-family: "Lucida Sans";
}

.title-container h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(41, 65, 77) !important;
}

.title-container h3 {
  font-weight: 500;
  font-family: "Courier New";
  color: rgb(41, 65, 77) !important;
}

.landing-panel-container {
  display: grid;
  justify-content: start;
  align-items: stretch;
  height: 100%;
}

.landing-navbar {
  width: auto;
  // position: fixed;
  top: 0;
}

.landing-navbar div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.navbar-link-item {
  background-color: rgb(252, 235, 107) !important;
  border-radius: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 90px;
  font-size: 14px !important;
  font-weight: 550 !important;
  font-family: cursive !important;
  color: rgb(41, 65, 77) !important;
}

.navbar-link-item:hover {
  background-color: rgb(253, 238, 132) !important;
}
